<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <img src="../img/pokebola.png" alt="pokebola" class="icon" width="150">
        <h1 class="titulo">Pokedex</h1>
    </header>
    <main>
        <section>
            <p class="subtitulo">todos los pokemones</p>
            <button class="view-all">ver todos</button>
            <button class="view-first">ver 5 primeros</button>
        </section>
    </main>
</body>
</html>